[submodule "emacs.d/mark-multiple"]
	path = emacs.d/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "emacs.d/yasnippet"]
	path = emacs.d/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "emacs.d/shell-current-directory"]
	path = emacs.d/shell-current-directory
	url = https://github.com/metaperl/shell-current-directory.git
[submodule "emacs.d/revbufs"]
	path = emacs.d/revbufs
	url = https://github.com/emacsmirror/revbufs.git
[submodule "emacs.d/geiser"]
	path = emacs.d/geiser
	url = git://git.sv.gnu.org/geiser.git
