[submodule "emacs.d/shell-current-directory"]
	path = emacs.d/shell-current-directory
	url = https://github.com/metaperl/shell-current-directory.git
[submodule "emacs.d/revbufs"]
	path = emacs.d/revbufs
	url = https://github.com/emacsmirror/revbufs.git
[submodule "emacs.d/geiser"]
	path = emacs.d/geiser
	url = git://git.sv.gnu.org/geiser.git
[submodule "emacs.d/blackboard-theme"]
	path = emacs.d/blackboard-theme
	url = https://github.com/don9z/blackboard-theme.git
